@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* font-family: 'Barlow', sans-serif;*/

.content-paragraph{
    font-family: 'Balorw', sans-serif;
    font-size: .95em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: justify;
}

.content-paragraph:hover{
    cursor: grab;
}
.content-paragraph:active{
    cursor: grabbing;
}

.content-paragraph::-moz-selection { /* Code for Firefox */
    color: #f5f5f5;
    background: #B17BE7;
    padding: 10px 0;
}
  
.content-paragraph::selection {
    color: #f5f5f5;
    background: #B17BE7;
}
  

.content-paragraph.eraseSelect{
    user-select: none;
}