@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* font-family: 'Major Mono Display', monospace*/

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background: #F5F5F5;
    overflow-x: hidden;
}
:root{
  --toastify-color-success: #B17BE7;
}

.main-body{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(100% 100% at 50% 0%, rgba(177, 123, 231, 0.21) 0%, rgba(177, 123, 231, 0) 100%), #F5F5F5;
}

a{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 15px auto;
  width: fit-content;
}
a i{
  color: #B17BE7;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    width: fit-content;
    margin: 60px auto 70px auto;
}

.text-container{
    width: 65%;
    margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c7c7c7; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B17BE7; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #AD78E4; 
  }
