@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* font-family: 'Major Mono Display', monospace*/

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.counter-container p{
    margin: 0 auto;
    padding-bottom: 5px;
    font-size: .9em;
    font-weight: 600;
    font-family: 'Major Mono Display', monospace;
}

.counter{
    border: 2px solid #c7c7c7;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all .2s;
}

.counter i{
    padding: 5px 10px;
    font-size: 2em;
    font-weight: 700;
    color: #B17BE7;
    transition: transform .2s;
    user-select: none;
}

.counter i:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.counter i:active{
    transform: scale(1.5);
}

.counter span{
    font-size: 1.5em;
    padding: 0 10px;
    font-weight: 600;
    font-family: 'Major Mono Display', monospace;
}